* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Meyer reset */

/*
CSS for XYZFactor.com
*/

html{
  height: 100%;
}

* { margin: 0; padding: 0;}

@font-face {
  font-family: 'proxima';
  src: url('fonts/ProximaNova-Reg.otf');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'proxima';
  src: url('fonts/ProximaNova-Bold.otf');
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'proxima', "proximabold", "proximasbold", Helvetica, Arial, Georgia, "Lucida Grande", sans-serif; 
  background-color: #ffffff;
  line-height: 150%;
  padding: 0; 
  border: 0;
  height: 100%;
  width: 100%;
  perspective: 1px;
}


/*@font-face {
  font-family: "proxima";
  src: url(ProximaNova-Reg.otf)
}*/

/* Begin Header Section */

#header {
  height: 50px; 
  padding: 0 0 0 0px;
  margin-top: 0px;
  position:absolute;
  width: 100%;
  top:0px;
  left: 0px;
  z-index: 1;
}

#header li {
  float: right;
  text-decoration-color: rgb(78, 43, 99)
}

.scroll {
  text-align: center;
}

#navigation a.scroll {
  /*font-weight: bold;*/
  background-color: none;
  color: none;
}

#navigation a {
  color: none;
}

#navigation ul {
  background-color: ;
  font-size: 1.25em; /*20 / 16 */
  float: right;
  margin: 0px 0 0 0;
  height: 0px;
  text-align: center;
}

#navigation a {
  font-weight: bold;
  display: block;
  width: 100px;
}

#navigation a:link {
  color: white;
  text-decoration: none;
}


#navigation a:visited {
  color: white;
  text-decoration: none;
}


#navigation a:hover {
  text-decoration: none;
  color: #5E3577;
  background-color: none;
}


#navigation a:active {
  color: white;
  background-color: transparent;
}

/* 1st Panel Section, Top of Page */

#top{
  background-image: url(images/peng_resized_lo.jpg);
  min-height: 100%;
  margin-bottom:1%;
  background-size: cover;
  clear: both;
  overflow: hidden;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

#top img {
  margin-top: -50px;
}
  

#intro {
  display: block;
  width: 40%;
  float: right;
  margin-top: 10%;
  margin-right: 15%;
  margin-bottom: 5%;
  clear: both;
}

#intro_header {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

#intro_header h1 {
  font-size: 10em;
  color: white;
  text-shadow: 0 0 3px #A09569;
  padding-top:20px;
  padding-bottom: 20px;
  font-weight: bold;
}

#intro_subhead {
  display: inline-block;
  width: 100%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fancy_font {
  font-family: Georgia;
  font-style: italic;
  font-size: 1em;
  color: white;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px 0 15px 0;
    width: 300px;
    background: #4e2b63;
    border-radius: 5px;
}

a.button:hover {
  background: #5E3577;
}

#intro .button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

/* About Section Begins */

#reviews #about #buy #authors #contact h1 {
  margin-top:50px;
}

#about h1 {
  padding: 55px 0 25px 0;
  text-align: center;
}

#about {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

#about_content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 5%; 
  width: 65%;
  clear: both;
}

#content_cover {
  display: inline-block;
  padding-left: 6%;
  width: 25%;
  clear: right;
  position: relative;
}

#content_cover img {
  max-width: 100%;
 }

#content_description {
  padding-left: 3%;
  padding-right: 1%;
  float: right;
  line-height: 1.25;
  width: 65%;
  text-align: left;
  display:block;
  overflow:auto;
  margin-bottom: 5%;
}

#content_description h2 {
  font-size: 30px;
}

#content_description p {
  line-height: 1.5;
}

#social {
  padding-top: 60px;
}

#twitter_icon img {
  width: 45px;
}

#twitter_icon {
  display: inline-block;
  padding-left: 6%;
}

#social_text {
  display: block;
  padding-right: 1%;
  float: right;
  width: 87%;
}

/* Buy Section Begins */

#buy {
  background-color: #F7F7F7;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  overflow-y:auto;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

#buy h1 {
  padding: 80px 0 25px 0;
  text-align: center;
  width: 100%;
}

#buy h2 {
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Reviews Section Begins */

#reviews h1 {
  padding: 55px 0 25px 0;
  text-align: center;
  color: white;
}

#reviews .line-separator {
  background-color: white;
}

.review p {
  font-size: 1em; 
  font-style: italic;
  display: inline;
  color: white;
}

.critic_name {
  text-align: left;
  font-size: 1.5em; 
  font-weight: bold;
  color: white;
}

.critic_desc {
  text-align: left;
  font-size: 1em; 
  font-style: none;
  display: inline;
  color: white;
}

.author_title {
  font-size: 1em; 
  color: white;
}

.author_title p {
  text-align: center;
}

.author {
  text-align: center;
  font-size: 1.5em; 
  font-weight: bold;
  color: white;
  padding: 1%;
  margin-top: 10px;
}

.biotitle2 {
  text-align: center;
  font-size: 1em; 
  font-style: none;
  display: inline;
  color: #444;
}

/* Authors Section Begins */

a {
  color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

#buy p {
  clear: right;
  float: right;
  font-size:16px;
  line-height: 1.5;
}

#buy img {
  width: 100%;
}

#barnes {
  width: 49%;
  display: inline-block;
  padding: 0 auto 0 auto;
}

#amazon {
  width: 49%;
  display: inline-block;
}

.logoimg {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#logos {
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 3%;
  margin-bottom: 80px;
  position: relative;
}

#reviews {
  width: 100%;
  display: inline-block;
  background-color: #444;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

#reviews .background_cover_image {
  background-image: url(images/girl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-bottom: -26px; /*fixes issue in Firefox */
}

#review_bios {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 50%;
  clear: both;
}

#reviews img {
  max-width: 95%;
  border: 3px solid white;
  border-radius: 50%;
}

.imagecont {
  padding-bottom: 2%;
  float: left;
}

.textblock {
  clear: left;
  width: 70%;
  padding-left: 4%;
  padding-bottom: 4%;
  position: relative;
  overflow: auto;
  display: inline-block;
}

#authors {
   background-image: url(images/guy.jpg);
  background-size: cover;
  background-position: no-repeat;
  display: table;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

#authors img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
   background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border-color: #444
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

/* Authors Section Begins */

#authors h1 {
  color: white;
  text-align: center;
  padding: 55px 0 25px 0;
}

#auth_bios {
  background-color: #F0F0F0;
  width: 85%;
  margin: 1% auto 1% auto;
  clear: both;
  position: relative;
}

.bio_block {
  float: left;
  width: 19%;
  padding-left: 3%;
  padding-right: 3%; 
  margin-bottom: 1%;
  margin-top: 1%;
  height: 275px;
}

.bio_block img {
  border: 3px solid white;
  border-radius: 50%;
}

/* Contact Section Begins */

#contact {
  background-color: #F7F7F7;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  overflow-y:auto;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

#button_click {
    width: 100%;
    display: block;
    margin: 15px 0 95px 0;
}

#contact h1 {
  padding: 80px 0 25px 0;
  text-align: center;
  width: 100%;
}

/* Other stuff that didn't quite work out.  Keep for later */

.line-separator {
  height: 1px;
  width: 300px;
  margin-top: 30px;
  background: #444;
  margin-left: auto;
  margin-right: auto;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0px) scale (1);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale (2);
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

/*
.overlay:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHUlEQVQIW2NkYGD4D8SM6DRIAAQwJDFUwhRRUQcALRkSBISGlPAAAAAASUVORK5CYII=") repeat top left;
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  bottom: -50px;
  right: 0;
  left: 0;
  opacity: 0.2;
  filter: alpha(opacity=40);
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}
*/

h1 {
  font-size: 42px;
  height: 20px;
  font-weight: bold;
  color: #4e2b63;
}

h2 {
  font-size: 22px;
  font-weight: normal;
}

h4 {
  font-size: 5em; /*80 / 16*/
  color: white;
  line-height: 1;
  font-weight: normal;
  text-shadow: 0 0 3px #A09569;
}

h5 {
  font-size: 2em ; /* 16 16 base*/
  color: white;
  line-height: 1;
  font-weight: normal;
  text-shadow: 0 0 3px #A09569;
  margin-top: 4%;
}

h6 {
  font-size: 24px ; /*40 / 16*/
  display: inline;
  color: white;
  line-height: 1;
  margin-top: 4%;
  padding-bottom: 1;
}

ul {
  list-style-type: none;
  margin: 0px;
}

li {
  display: inline;
  margin-top: 10px;
}

img {
   vertical-align: middle;
}

h3 {
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
  font-size:20px;
}

/* Media Queries */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* Styles */

  #top {
    background-image: url(images/top_mobile.jpg);
  }

  #navigation li {
    width: 80px;
    float: left;
  }

  #intro {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: none;
    margin-top: 25%;
  }

  #auth_bios {
    background-color: transparent;
  }

  #content_cover {
    display: block;
    width: 85%;
  }

  #content_description {
      width: 100%;
  }

  #content_description h2 {
    margin-top: 10px;
  }

  .imagecont {
    float: none;
    padding-left: 20%;
  }

  .imagecont img {
    width: 40%;
    margin-left: 40px;
  }

  #reviews h1 {
    line-height: 1;
    height: 80px;
  }

  .textblock {
    padding-left: 26px;
    width: 85%;
  }

  #review_bios {
    width: 100%;
  }

  .critic_name {
    text-align: center;
  }

  .critic_desc {
    text-align: center;
  }

  #barnes {
    width: 100%;
    display: block;
    margin-top: 15px;
  }

  #amazon {
    width: 100%;
    display: block;
    margin-top: 15px;
  }

  .bio_block {
    float: none;
    width: 100%;
    height: auto;
    margin-top: 13%;
    padding-left: 0;
  }

  .bio_block img {
    width: 40%;
  }

  #logos {
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    font-size: 36px;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
/* Styles */

  #top {
    background-image: url(images/peng_tablet.jpg);
  }

  #navigation li {
    width: 80px;
    float: left;
  }

  #intro {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: none;
  }

  #logos {
    padding-left: 12%;
    padding-right: 12%;
  }

  .bio_block {
    width: 27%;
  }

  #reviews h1 {
    line-height: 1;
    height: 80px;
  }

  #review_bios {
    width: 90%;
  }

}

@media only screen and (min-width : 480px) and (max-width : 768px) {

  #top {
    background-image: url(images/top_mobile.jpg);
  }

  #navigation li {
    width: 80px;
    float: left;
  }

  #intro {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: none;
  }

  .bio_block {
    width: 27%;
  }

  #barnes {
    width: 100%;
    display: block;
    margin-top: 15px;
  }

  #amazon {
    width: 100%;
    display: block;
    margin-top: 15px;
  }

  #logos {
    padding-left: 0;
    padding-right: 0;
  }

  .bio_block {
    width: 44%;
  }

   #reviews h1 {
    line-height: 1;
    height: 80px;
  }

  #review_bios {
    width: 90%;
  }


  }

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */

#review_bios {
  width: 41%;
}

.bio_block {
  width: 14%;
}

#logos {
  padding-left: 30%;
  padding-right: 30%;
}

#about_content {
  width: 41%;
}

#intro {
  margin-top: 9%;
}

}

